{% extends "layout.html" %}

{% block title %}
Boat Information
{% endblock %}

{% block content %}
<div id="gallery-data" data-images="{{ image_names }}"></div>
<div id="data-id" data-boat-id="{{ boat_info._id }}"></div>


<script src="{{ url_for('static', filename='gallery.js') }}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script> 
<script src="{{ url_for('static', filename='calendar.js') }}"></script>


<div class="container" style="max-width: 100%;">
  {% if message %}
  <h3 class="custom-color {% if color_message == 'green' %}green-message{% elif color_message == 'red' %}red-message{% endif %}">{{ message }}</h3>
{% endif %}

    <h2>{{boat_info.boat_name}}</h2>
    <div class="gallery-container">
      <div class="expanded-image">
        {% set cover_image = '/static/images/gallery/' + boat_info._id + '/cover.jpg' %}
        <img id="expandedImg" src="{{ cover_image }}" alt="Expanded Image" onclick="changeImage(1)">
      </div>
      <div class="minimized-images">
        <div class="product-small-img">
          <img src="{{ cover_image }}" alt="Cover Image" onclick="showImage('{{ cover_image }}')">
          {% for image_name in file_names %}
            {% if image_name != 'cover' %}
              <img src="/static/images/gallery/{{ boat_info._id }}/{{ image_name }}" alt="{{ image_name.split('.')[0] }}" onclick="showImage('/static/images/gallery/{{ boat_info._id }}/{{ image_name }}')">
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  <div class="product-info">
    <p>CAD{{boat_info.price}}</p>
    <p>{{boat_info.description}}</p>

  </div>

    <div class="availability">
      <h2>Select your dates for a charter inquiry:</h2>
      <form id="infoForm" action="{{ url_for('info', boat_name=boat_info['boat_name']) }}" method="POST">
        <input type="hidden" id="startDate" name="startDate">
        <input type="hidden" id="endDate" name="endDate">
        <input type="hidden" id="numDays" name="numDays">
        
        <div id="calendar"></div>

        <div id="selectedDates"></div>
        <h4 style="color: green;">{{ message }}</h4>
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name.." required>

        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name.." required>

        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Your email.." required>

        <button type="submit">Submit</button>
      </form>
      
        
    </div>
  </div>


</div>
{% endblock %}
