{% extends "layout.html" %}

{% block title %}
Boat Information
{% endblock %}

{% block content %}

<script src="{{ url_for('static', filename='gallery.js') }}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script> 
<script src="{{ url_for('static', filename='calendar.js') }}"></script>


<div class="container">
  <div class="product-info">
    <h2>XYZ Oasis</h2>
    <p>Manufacturer: XYZ Yachts</p>
    <p>Length: 50 feet</p>
    <p>Year: 2023</p>
    <p>Description: Embark on a journey of serenity and luxury aboard the magnificent Ocean Serenity yacht. This stunning vessel combines sleek design with top-of-the-line amenities, offering a truly unforgettable experience at sea.</p>
    <p>Price: $1,000,000</p>
    <div class="availability">
      <h2>Select your dates for charter:</h2>
      <form id="infoForm" action="/info" method="POST">
        <input type="hidden" id="startDate" name="startDate">
        <input type="hidden" id="endDate" name="endDate">
        <input type="hidden" id="numDays" name="numDays">
        
        <div id="calendar"></div>

        <div id="selectedDates"></div>

        <button type="submit">Submit</button>
      </form>
      
        
    </div>
  </div>

  <div class="product-small-img">
    <img src="static/images/galerySample/yacht1/pic1.jpg" alt="Image 1" onclick="showImage('static/images/galerySample/yacht1/pic1.jpg')">
    <img src="static/images/galerySample/yacht1/pic2.jpg" alt="Image 2" onclick="showImage('static/images/galerySample/yacht1/pic2.jpg')">
    <img src="static/images/galerySample/yacht1/pic3.jpg" alt="Image 3" onclick="showImage('static/images/galerySample/yacht1/pic3.jpg')">
    <img src="static/images/galerySample/yacht1/pic4.jpg" alt="Image 4" onclick="showImage('static/images/galerySample/yacht1/pic4.jpg')">
    <img src="static/images/galerySample/yacht1/pic5.jpg" alt="Image 5" onclick="showImage('static/images/galerySample/yacht1/pic5.jpg')">
    <img src="static/images/galerySample/yacht1/pic6.jpg" alt="Image 6" onclick="showImage('static/images/galerySample/yacht1/pic6.jpg')">
  </div>

  <div class="modal">
    <span class="close" onclick="closeImage()">&times;</span>
    <img id="expandedImg">
    <a class="prev" onclick="changeImage(-1)">&#10094;</a>
    <a class="next" onclick="changeImage(1)">&#10095;</a>
  </div>

</div>
{% endblock %}
