{% extends "layout.html" %}

{% block title %}
About Us
{% endblock %}

{% block content %}

  <div class="container-contact">
    <h1>About Us</h1>
    <h2></h2>
    <h2>Who is Tony?</h2>
    <div class="paragraph-about">Tony, a seasoned mariner and an avid boating enthusiast since the age of 8, has spent a lifetime exploring the vast waters of the Pacific Northwest. His childhood love for sailing gradually transitioned into a versatile interest in both sailing and power boating, dictated by his destination's timeline. His vast experience and knowledge of the boating realm have led him to navigate every corner of the seas with a finesse that can only be obtained through years of dedication and adventure.
      Tony's enduring passion for the water, coupled with his extensive network in the boating community, inspired him to amalgamate his love for maritime adventures and expertise by establishing his own yacht brokerage company. With his hands-on experience as a yacht broker, yacht charter manager, and yacht management specialist, Tony brings a unique perspective to his business, understanding his client's needs at a granular level.
      Over the years, Tony has owned and managed a fleet of prestigious vessels, developing a particular fondness for Grand Banks, Nordhavn, and Selene brands on the power boat side. His love for classic offshore sailing yachts remains undiminished, with Hans Christians and Pacific Seacrafts holding a special place in his heart.
      Tony revels in the rich diversity of the boating community and enjoys engaging with people who share his passion for maritime adventures. His commitment to fostering this shared love for the seas is reflected in his continual efforts to build and expand the boating community.
      As the founder and owner of Tony Yachts brokerage company, Tony continues to guide his clients towards their dream vessels, ensuring they experience the same love and exhilaration for the seas that he has cherished since his youth. His commitment to client satisfaction, coupled with his seasoned maritime knowledge and experience, makes Tony an undisputed leader in the yacht brokerage landscape. His life's journey is a testament to his love for the ocean, and he is excited to continue sharing and facilitating this passion with others.
    </div>
    <h2>Get in touch</h2>
    <div class="social-media">
      <a href="https://wa.me/5579988324048?text=Hello%20there!%20I%20have%20a%20question.">
        <img src="static/images/chat.jpg" target="_blank" class="small-image">
      </a>
      <a href="https://www.facebook.com/your-profile" target="_blank">
        <img src="static/images/facebook-logo.png" alt="Facebook Logo" class="small-image">
      </a>
      <a href="https://www.twitter.com/your-profile" target="_blank">
        <img src="static/images/twitter.png" alt="Twitter Logo" class="small-image">
      </a>
      <a href="https://www.instagram.com/your-profile" target="_blank">
        <img src="static/images/insta.jpg" alt="Instagram Logo" class="small-image">
      </a>
    </div>

  </div>
  </div>
{% endblock %}
