{% extends "layout.html" %}

{% block title %}
About Us
{% endblock %}

{% block content %}

  <div class="container-contact">
    <h2>Get in touch</h2>
    <h3>Give us a call at +1 (604)353-3404</h3>
    <div class="social-media">
      <a href="https://wa.me/16043533404?text=Hello%20there!%20I%20have%20a%20question.">
        <img src="static/images/chat.jpg" target="_blank" class="small-image">
      </a>
      <a href="https://www.instagram.com/tony_yachts/" target="_blank">
        <img src="static/images/insta.jpg" alt="Instagram Logo" class="small-image">
      </a>
    </div>

  </div>
  </div>
{% endblock %}
