{% extends "layout.html" %}

{% block title %}
Homepage
{% endblock %}

{% block content %}  
<meta name="description" content="Luxury Yachts for Sale and Charter in Vancouver">

<section id="hero" style="background-image: url('{{ image_url }}');">
    <div class="hero-content">
      <h1>TONY YACHTS</h1>
      <p>WHERE ADVENTURE MEETS LUXURY</p>
      <a href="#for-sale" class="cta-button">EXPLORE BOATS FOR SALE</a>
      <a href="#for-charter" class="cta-button">EXPLORE BOATS FOR CHARTER</a>

    </div>
  </section>
<div class="paragraph">
<p>
    <strong>Tony Yachts</strong> is a leading provider of premium yachts, offering a diverse range of vessels for sale and charter.  With a commitment to exceptional quality and unparalleled service, we are dedicated to delivering unforgettable experiences on the water.
  </p>
  <p><strong>All prices in Canadian Dollar.</strong></p>
</div>

<section id="for-sale">
  <div class="container">
    <h2>BOATS FOR SALE</h2>
    <div class="products">
      {% for boat in boats_sale %}

      <div class="product">
        <a href="/info-sale/{{boat.boat_name}}" style ="  text-decoration: none;  color:black;">
          <div class="cover-image">
            <img src="static/images/gallery/{{ boat._id }}/cover.jpg" alt="Listing One">
          </div>
          <div class="nameprice">
            <h3>{{ boat.boat_name }}</h3>
            <span>{{ boat.price }}</span>
          </div>
        </a>
      </div>
      {% endfor %}

    </div>
  </div>
</section>



<section id="for-charter">
  <div class="container">
    <h2>BOATS FOR CHARTER</h2>
    <div class="products">
      <div class="product">
        <a href="/info" style ="  text-decoration: none;  color:black;      ">
          <div class="image">
            <img src="static/images/listings/sample1.jpeg" alt="Listing One">
          </div>
          <div class="nameprice">
            <h3>Listing One</h3>
            <span>$9999</span>
          </div>
        </a>
      </div>
      <div class="product">
        <a href="/info" style ="  text-decoration: none;  color:black;      ">
          <div class="image">
            <img src="static/images/listings/sample2.jpeg" alt="Listing One">
          </div>
          <div class="nameprice">
            <h3>Listing Two</h3>
            <span>$9999</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section> 




{% endblock %}
