<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tony Yachts</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <nav>
      <ul>
        <div class="logo">
          <a href="/"><img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Tony Yachts Logo"></a> 
        </div>
        <h1><li><a href="/">HOME</a></li></h1>
        <h1>
          <li class="dropdown">
            <a href="#" class="dropbtn">BROWSE BOATS</a>
            <div class="dropdown-content">
              <a href="/#for-sale">Boats for Sale</a>
              <a href="/#for-charter">Boats for Charter</a>
            </div>
          </li>
        </h1>
        <h1>
        <li class="dropdown">
          <a href="#" class="dropbtn">ABOUT</a>
          <div class="dropdown-content">
            <a href="/about">Who Are We</a>
            <a href="/contact">Contact Us</a>

          </div>
        </li>
      </h1>
       <h1> <li><a href="/sell">SELL YOUR BOAT</a></li></h1>

      </ul>
    </nav>
  </header>

    <main>
    {% block content %}
    {% endblock %}
  </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2023 Tony Yachts. All rights reserved.</p>
    </footer>

</body>

</html>
